#!/usr/bin/make -f

export DH_VERBOSE=1
export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --parallel --with autotools_dev --list-missing

override_dh_auto_configure:
	# disable snmp due to openssl licensing issues
	# disable watchquagga since we rely on systemd
	dh_auto_configure -- \
		--enable-exampledir=/usr/share/doc/quagga/examples/ \
		--localstatedir=/run/quagga \
		--sysconfdir=/etc/quagga \
		--disable-watchquagga \
		--with-libpam \
		--enable-user=quagga \
		--enable-group=quagga \
		--enable-vty-group=quaggavty \
		--enable-configfile-mask=0640 \
		--enable-logfile-mask=0640 \
		--enable-multipath=64 \
		$(shell dpkg-buildflags --export=cmdline)

override_dh_auto_build:
	dh_auto_build
	# build useful docs
	dh_auto_build -- -C doc/ quagga.pdf draft-zebra-00.txt

override_dh_auto_install:
	dh_auto_install
	# cleaning up the info dir
	#rm -f debian/tmp/usr/share/info/dir*
	# cleaning .la files for lintian warning non-empty-dependency_libs-in-la-file
	sed -i "/dependency_libs/ s/'.*'/''/" debian/tmp/usr/lib/**/*.la
